<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" id="user_id" v-model="userId">
        <input type="password" id="user_password" v-model="userPassword">
        <button type="button" onclick="login()">로그인</button>
        <br/>
        아이디 : <span id="user_id_text"></span>  
        <br/>
        비밀번호 : <span id="user_password_text"></span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue ({
            el: '#app',
            data () {
                return {
                    items: [{
                        userId: '',
                        userPassword:''

                    }]
                }
            }
        })

    
    </script>
</body>
</html>